*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F5D3AB;
    width: 1440px;
    height: 1450px;
}
.p1{
    width: 127px;
    height: 32px;
    margin-top: 93px;
    margin-left: 135px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}
.p2{
    width: 519px;
    height: 128px;
    margin-top: 23px;
    margin-left: 135px;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
}
.div{
    display: flex; 
}
.div1{
    width: 770px;
    height: 448px;
    margin-left: 135px;
    margin-top: 103px;
    background-image: url(img/bread.jpg);
    border-radius: 10px;
}
.div1p1{
    width: 62px;
    height: 32px;
    padding-top: 205px;
    padding-left: 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}
.div1p2{
    width: 294px;
    height: 96px;
    margin-top: 15px;
    padding-left: 32px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}
.div1p3{
    width: 322px;
    height: 68px;
    margin-top: 15px;
    padding-left: 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    opacity: 50%;
    display: inline;
}
.div1p4{
    width: 54px;
    height: 48px;
    padding-left: 700px;
    padding-right: 60px;
    padding-top: 2px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}
.div2{
    width: 370px;
    height: 448px;
    margin-left: 50px;
    margin-top: 103px;
    background-color: white;
    border-radius: 3px;
}
.div2img{
    width: 370px;
    height: 304px;
}
.div2p1{
    margin-top: 15px;
    margin-left: 15px;
    width: 62px;
    height: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}
.div2p2{
    margin-top: 15px;
    margin-left: 15px;
    width: 52px;
    height: 32px;
    font-size: 24px;
    font-weight: 400;
    color: #171B1B;
}
.div2p3{
    width: 53px;
    height: 48px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    padding-left: 320px;
}
.sec2div{
    width: 370px;
    height: 448px;
    background-color: white;
    margin-top: 25px;
    margin-left: 134px;
}
.sec2div2{
    width: 370px;
    height: 448px;
    margin-left: 50px;
    background-color: white;
    margin-top: 25px;
    margin-left: 40px;
}
.button{
    width: 170px;
    height: 48px;
    margin-left: 635px;
    margin-top: 80px;
    background-color: #F5D3AB;
    border: 1px solid #171B1B3D;
    font-weight: 400;

}

